@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Hurricane&display=swap');


#welcome {
    background-color: #ff7f50;
    
   
}

#lights { 
    width: 100%;
    height: 400px;
     
} 
#logo  {
    position: absolute; 
    margin-left: 40%;
    width: 300px;
    height:150px; /**/
    border-style: none;
}
#top1 {
    font-family: 'Hurricane', cursive;
    color:#d20c30;
    font-size: 80px;
    position: absolute;  
    top: 15%;
    left: 20%;
    text-align: left;
    text-shadow: 2px 2px 5px rgba(55, 50, 38, 0.815);
   
}
#top2 {
    font-family: 'Hurricane', cursive;
    color:#d20c30;
    font-size: 80px;
    position: absolute;  
    top: 30%;
    left: 50%;
    text-align: right;
    text-shadow: 2px 2px 5px rgba(55, 50, 38, 0.815);
}
 
 /* ========================= CARDS  ========================= */

.container {
    background-color: rgb(247, 237, 224); 
    border: 5px #ebb987 solid;
    padding: 10px;
   

}

.card {
    font-family: 'Dancing Script', cursive;
    color: #5b533e;
    font-size: 30px;
    padding:10px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1.5px #05012d solid;
   /* #ebb987*/
}

div.cells{
    position: relative;
    padding: 10px;
    margin: auto;
    width: fit-content;
    height:300px;
    width: 300px;
    
}


/* ====================== CARDS MESSAGE CHANGE ON MOUSEOVER ========================= */
.changemsg {  
    display: block;
}/* */

 

div.changemsg:hover {
    background-color: #ff7f50;
    opacity: 1;
  transition: 1s ease;
  
      
}  
.secondmessage {
    position: absolute;
    padding: 15px ;
    margin-top: 45px;
    margin-left: 5px;
    color: #6b6454;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    background: rgb(245 245 245 / 0%);
    
    
    
}   
 /* ====================== PRICING  ========================= */
#price-container {
    background-color:  #ff7f50;
    color: rgb(247, 205, 98);
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
}
/*  */
div span {  
    position: absolute;
    padding: 15px ;
    margin-top: 100px;
    margin-left: 75px;
    font-weight: 700;
    background: rgb(245 245 245 / 55%);
}



/* ====================== FOOTER DIV ========================= */


#name-box {  
    width: 200px;
}

#text-box {
    width: 400px;
}

input {
    margin-bottom: 5px;
}

section {
    background-color:#05012d;
    color: #ff7f50;
    padding: 10px;
    display: flex;
 } 
 
ul {
list-style: none;
}
  

