@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Hurricane&display=swap');


#welcome{
    background-color: #ff7f50;
   
}

#lights { 
    width: 100%;
    height: 400px;  
} 
#logo img{
    position: absolute;  
    width: 100px;
    height:100px;
}
#top1 {
    font-family: 'Hurricane', cursive;
    color:#920f27;
    font-size: 80px;
    position: absolute;  
    top: 5%;
    left: 20%;
    text-align: right;
   
}
#top2 {
    font-family: 'Hurricane', cursive;
    color:#920f27;
    font-size: 80px;
    position: absolute;  
    top: 25%;
    left: 50%;
    text-align: right;
   
}
 

#last-container{
    background-color:  #ff7f50;
    color: rgb(247, 205, 98);
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
}
 /**/
.container{
    background-color: rgb(247, 237, 224); 
    border: 0.5px #ebb987 solid;
    padding: 10px;
   

}

.card{
    font-family: 'Dancing Script', cursive;
    color: #5b533e;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 0.5px #ebb987 solid;
    
}/**/

div.cells{
    position: relative;
    padding: 10px;
    margin: 50px;
    width: fit-content;
    height:300px;
    width: 300px;
}
.changemsg{  
    display: block;
}/* */

 

div.changemsg:hover{
    background-color: #ff7f50;
    
      
}  
.secondmessage{
    position: absolute;
    padding: 15px ;
    margin-top: 45px;
    margin-left: 5px;
    color: #6b6454;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    background: rgb(245 245 245 / 0%)
    
} /*  */ 
 
div span {
    position: absolute;
    padding: 15px ;
    margin-top: 100px;
    margin-left: 75px;
    font-weight: 700;
    background: rgb(245 245 245 / 55%);
}
/* */
#name-box {  
    width: 200px;
}



#text-box{
    width: 400px;
}

input {
    margin-bottom: 5px;

}

footer{
    background-color:#05012d;
    color: #ff7f50;
    padding: 10px;
 } 
   /*  */
footer div{
    float: left;
}
